.about{
    display: flex;
    height: 77vh;
    margin-top: 6rem;
}
.a-left{
    display: flex;
    position: relative;
    flex: 1;
    flex-direction: column;
    gap: 2rem;
}
.a-name{
    display: flex;
    flex-direction: column;
}
.a-name>:nth-child(1)
{
    color: var(--black);
    font-weight: bold;
    font-size: 3rem;
}
.a-name>:nth-child(2)
{
    color: var(--orange);
    font-weight: bold;
    font-size: 3rem;
}
.a-name>:nth-child(3)
{
    font-weight: 100;
    font-size: 14px;
    color: var(--grey);
    margin-top: 10px;
}
.a-button{
    width: 6rem;
    height: 2rem;    
}
.a-icons{
    display: flex;
    margin-top: 3rem;
    gap: 0rem;
}
.a-icons>*{
    transform: scale(0.5);
}
.a-icons>*:hover{
    cursor: pointer;
}
.a-right{
    flex: 1;
    position: relative;
}
.a-right>*{
    position: absolute;
    z-index: 1;
}
.a-right>:nth-child(1)
{
    transform: scale(0.75);
    left: -15%;
    top: -9%;    
}
.a-right>:nth-child(2)
{
    top: -4.6rem;
    transform: scale(0.69);
    left: -3rem;
}
.a-right>:nth-child(3)
{
    transform: scale(0.5);
    left: -16%; 
    top: -30%; 
    border-radius: 50%;  
}
.a-right>:nth-child(4)
{
    transform: scale(0.5);
    top: -19%;
    left: -24%;
    border-radius: 50%;
    padding: 0;
}
.blur{
    position: absolute;
    width: 22rem;
    height: 14rem;
    border-radius: 50%;
    background: #edd0ff;
    z-index: -9;
    top: -18%;
    left: 56%;
    filter: blur(72px);
}