.about{
    display: flex;
    height: 77vh;
    margin-top: 3rem;
    /* background: url("../../img/bg-shape.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center; */

}
.a-left{
    display: flex;
    position: relative;
    flex: 1;
    flex-direction: column;
    gap: 2rem;
}
.a-name{
    display: flex;
    flex-direction: column;
}
.a-name>:nth-child(1)
{
    color: var(--black);
    font-weight: bold;
    font-size: 3rem;
}
.a-name>:nth-child(2)
{
    color: var(--orange);
    font-weight: bold;
    font-size: 3rem;
}
.a-name>:nth-child(3)
{
    font-weight: 100;
    font-size: 14px;
    color: var(--grey);
    margin-top: 10px;
}
.a-button{
    width: 6.5rem;
    height: 2.5rem;    
}
.resume-btn{
    margin-left: 10px;
    width: 6.5rem;
    height: 2.5rem;
}
.a-icons{
    display: flex;
    margin-top: 0rem;
    gap: 0rem;
    color: white;
}
.a-icons>*{
    transform: scale(0.5);
}
.a-icons>*:hover{
    cursor: pointer;
}
.a-right{
    flex: 1;
    position: relative;
}
.a-right>*{
    position: absolute;
    z-index: 1;
}
.a-right>:nth-child(1)
{
    transform: scale(0.75);
    left: -15%;
    top: -9%;    
}
.a-right>:nth-child(2)
{
    top: -4.6rem;
    transform: scale(0.69);
    left: -3rem;
}
.a-right>:nth-child(3)
{
    transform: scale(0.5);
    left: -16%; 
    top: -30%; 
    border-radius: 50%;  
}
.a-right>:nth-child(4)
{
    transform: scale(0.5);
    top: -19%;
    left: -24%;
    border-radius: 50%;
    padding: 0;
}
.blur{
    position: absolute;
    width: 22rem;
    height: 14rem;
    border-radius: 50%;
    background: #edd0ff;
    z-index: -9;
    top: -18%;
    left: 56%;
    filter: blur(72px);
}

/* here I have designed only profile picture, the above a-right division is not used and I am using separate division*/
.profile-pic{
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 1px 0px 0px var(--black);
    border-radius: 50%;
    height: 380px;
    width: 380px;
    margin: 0 0px 0 100px;    
}
.profile-pic-bg{
    height: 92%;
    width: 92%;
    background-image: url("../../img/boy.png");
    background-size: cover;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-position: center;
}
.profile-pic-bg:hover{
    transform: scale(1.07);
    transition: 1s ease-out;
}


/* to make it resposive */
@media screen and (max-width: 1110px) {
    .profile-pic{
        margin: 0 0px 0 80px;
    }
    .a-name{
        font-size: 12px;
    }
    .a-role .primary-text{
        font-size: 12px;
    }
    .a-button .resume-btn{
        width: 120px;
        padding: 11px 0;
        z-index: 700;
    }
    
}
@media screen and (max-width: 910px){
    .profile-pic{
        height: 320px;
        width: 320px;
        margin: 0 0 0 4px;
    }
}
@media screen and (max-width:810px) {
    .profile-pic{
        margin: 0 !important;
    }
    .about{
        flex-direction: column-reverse;
        margin: 40px 0 0 0;
    }
    .a-left{
        display: flex;
        justify-content: space-between;
    }
    .a-name{
        margin: 25px 0 0;
    }
    .a-button .resume-btn{
        margin: 0 !important;
    }
    .a-role{
        text-align: center;
    }
    
}
@media screen and (max-width: 375px) {
    .profile-pic{
        height: 275px;
        width: 275px;
        margin-top: -90px;
    }
    .a-name{
     width: 90%;   
    }
}